<div class="launchpad"></div>
<div class="synthControls">
  <div class="midiDeviceNames"></div>
  <div class="presetNames"></div>
  <div class="commands"></div>
</div>

<div class="presetEditor"></div>